django==1.7
djangorestframework==3.0
django-rest-swagger
django-filter
requests
gunicorn
psycopg2
mailchimp
pillow
django-autoslug
django-taggit
djrill
sorl-thumbnail

django-jenkins
django-extensions
sphinx
