<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Wedding Bliss - a Unique HTML Template For Your Wedding Celebration</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimum-scale=1">

    <!-- INCLUDE BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.min.css">

    <!-- INCLUDE AUTHOR CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/responsive.css">

    <!-- INCLUDE FLEXSLIDER CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/flexslider.css" type="text/css" media="screen" />

    <!-- INCLUDE animate CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/animate.min.css">

    <!-- MEGAFOLIO PRO GALLERY CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}megafolio/{{STATIC_URL}}css/settings.css" media="screen" />

    <!-- THE FANYCYBOX CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}megafolio/fancybox/jquery.fancybox.css?v=2.1.3" type="text/css" media="screen" />

    <!-- INCLUDE GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Cinzel:400,700|Great+Vibes' rel='stylesheet' type='text/css'>        

    <!-- INCLUDE MODERNIZR -->
    <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body class="index home">
    <div class="bghide">&nbsp;</div>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- =========================================================================================================
    ==============================================================================================================
                                                The Header Area With The Menu
    ==============================================================================================================
    ============================================================================================================== -->  

    {% include 'themes/bliss/partials/nav.html' %}

    <!-- =========================================================================================================
    ==============================================================================================================
                                                    The Slider Area
    ==============================================================================================================
    ============================================================================================================== -->


    {% include 'themes/bliss/partials/slider.html' %}

    
    <!-- =========================================================================================================
    ==============================================================================================================
                                        The First Area Under The Slider
    ==============================================================================================================
    ============================================================================================================== -->


    {% include 'themes/bliss/partials/intro.html' %}

    <!-- =========================================================================================================
    ==============================================================================================================
                                            "OUR STORY" section
    ==============================================================================================================
    ============================================================================================================== -->

    {% include 'themes/bliss/partials/story.html' %}

    <!-- =========================================================================================================
    ==============================================================================================================
                                            "BRIDE'S PARTY" section
    ==============================================================================================================
    ============================================================================================================== -->

    {% include 'themes/bliss/partials/brideandgroomparties.html' %}

     <!-- =========================================================================================================
    ==============================================================================================================
                                            "WEDDING LOCATION" section
    ==============================================================================================================
    ============================================================================================================== -->

    {% include 'themes/bliss/partials/location.html' %}
    
     <!-- =========================================================================================================
    ==============================================================================================================
                                            "GALLERY MODEL 1" section
    ==============================================================================================================
    ============================================================================================================== -->

    {% include 'themes/bliss/partials/gallery.html' %}

     <!-- =========================================================================================================
    ==============================================================================================================
                                            "REGISTRY" section
    ==============================================================================================================
    ============================================================================================================== -->

    {% include 'themes/bliss/partials/registry.html' %}


     <!-- =========================================================================================================
    ==============================================================================================================
                                            "GUEST BOOK" section
    ==============================================================================================================
    ============================================================================================================== -->

    <section id="guestbook">

        <!-- "GUEST BOOK" SECTION MAIN TITLE -->
        <div id="guestbookphoto" class="parallax-hook parallax-guestbook parallax-background">
            <div class="section-overlay">
                <div class="container">
                    <div class="row">
                        <header class="col-md-6 col-md-offset-3">
                            Guest Book
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing</span>
                        </header>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-overlay -->
            
        </div><!-- /#guestbookphoto -->

        <!-- "GUEST BOOK" ACTUAL CONTENT -->
        <div class="container">
            <h3 class="text-center">Some Lovely People Had This To Say:</h3>

            <div class="border">
                <div class="row">
                    
                    <!-- "GUEST BOOK" COMMENT -->
                    <div class="col-md-4">
                        <div>
                            <img src="{{STATIC_URL}}img/guestbook-guest.png" alt="guest 1">
                            <h5>Michael Fields<span>January 12, 2013 at 3:59 PM</span></h5>
                            <p>You two truly are the perfect couple. Words can’t describe how happy we all are for you guys. Enjoy this special moment!</p>
                        </div>
                    </div><!-- /.col-md-4 -->

                    <!-- "GUEST BOOK" COMMENT -->
                    <div class="col-md-4">
                        <div>
                            <img src="{{STATIC_URL}}img/guestbook-guest.png" alt="guest 2">
                            <h5>Michael Fields<span>January 12, 2013 at 3:59 PM</span></h5>
                            <p>Congratulations, you crazy kids!</p>
                        </div>
                    </div><!-- /.col-md-4 -->

                    <!-- "GUEST BOOK" COMMENT -->
                    <div class="col-md-4">
                        <div>
                            <img src="{{STATIC_URL}}img/guestbook-guest.png" alt="guest 3">
                            <h5>Michael Fields<span>January 12, 2013 at 3:59 PM</span></h5>
                            <p>Best wishes. You two are perfect for each other!</p>
                        </div>
                    </div><!-- /.col-md-4 -->

                    <!-- "GUEST BOOK" COMMENT -->
                    <div class="col-md-4">
                        <div>
                            <img src="{{STATIC_URL}}img/guestbook-guest.png" alt="guest 4">
                            <h5>Michael Fields<span>January 12, 2013 at 3:59 PM</span></h5>
                            <p>Plaudits to both of you on this fine occasion!</p>
                        </div>
                    </div><!-- /.col-md-4 -->

                    <!-- "GUEST BOOK" COMMENT -->
                    <div class="col-md-4">
                        <div>
                            <img src="{{STATIC_URL}}img/guestbook-guest.png" alt="guest 5">
                            <h5>Michael Fields<span>January 12, 2013 at 3:59 PM</span></h5>
                            <p>THIS WEDDING BETTER HAVE CUPCAKES!</p>
                        </div>
                    </div><!-- /.col-md-4 -->

                    <!-- "GUEST BOOK" COMMENT -->
                    <div class="col-md-4">
                        <div>
                            <img src="{{STATIC_URL}}img/guestbook-guest.png" alt="guest 6">
                            <h5>Michael Fields<span>January 12, 2013 at 3:59 PM</span></h5>
                            <p>I remember when you first met, and you hated each other. Ah, seventh grade. Remember when she poured chocolate pudding in his locker? I’ll be sure to get the incriminating photos to Jack for inclusion in the rehearsal dinner slideshow!</p>
                        </div>
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.border -->

            <!-- SIGN OUR GUESTBOOK SECTION -->
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-left">Sign Our Guest Book!</h3>
                    <p>Leave us a thought, a good wish or a congratulation and you’ll make us so happy. After the wedding we will organize all the good wishes into an album for everyone to read and enjoy!</p>
                </div>
                <div class="col-md-6">

                    <!-- "GUEST BOOK" FORM -->
                    <form role="form" action="sign_questbook.php" method="post" id="signguestbook">
                        <div class="form-group">
                            <input type="text" placeholder="Name..." id="guest-name" name="guest-name" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="email" placeholder="Email..." id="guest-email" name="guest-email" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea id="guest-message" name="guest-message" placeholder="Leave your message here..." rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group" id='gb_submit_m'>
                            <input type="submit" class="btn btn-primary" id="send_guestbook" value="Send Message">
                        </div>
                        <!-- SUCCESS/ERROR FIELDS -->
                        <div id='guestbook_success' class='alert alert-success'>Thank you. Your message has been sent.</div><!-- /. SUCCESS MESSAGE -->
                        <div id='guestbook_fail' class='alert alert-danger'> Sorry, don't know what happened. Try later.</div><!-- /. ERROR MESSAGE -->
                    </form><!-- /.signguestbook-->
                </div><!-- /.col-md-6-->
            </div><!-- /.row-->
                        
        </div><!-- /.container -->

    </section><!-- guestbook -->

     <!-- =========================================================================================================
    ==============================================================================================================
                                            "EVENTS CALENDAR / RSVP" section
    ==============================================================================================================
    ============================================================================================================== -->

     <section id="rsvp">

        <!-- "RSVP" SECTION MAIN TITLE -->
        <div id="rsvpphoto" class="parallax-hook parallax-rsvp parallax-background">
            <div class="section-overlay">
                <div class="container">
                    <div class="row">
                        <header class="col-md-6 col-md-offset-3">
                            Events Calendar &#38; RSVP
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing</span>
                        </header>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-overlay -->
            
        </div><!-- /#rsvpphoto -->

        <!-- "RSVP" SECTION actual content -->
        <div class="container">
            
            <!-- "RSVP" INTERMEDIARY TITLE AND CONTENT -->
            <h3 class="text-center">Here Are The Most Important Events. Please RSVP Below!</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            
            <!-- "RSVP" EVENTS -->
            <div class="row calendar">
                <h4 class="text-center">Please click on the events where you want to participate.</h4>
                <div class="col-md-4">

                    <!-- THE MONTH -->
                    <h4 class="sectionmaintitle">May, 2014</h4>

                    <div class="border">

                        <div class="row">

                            <!-- RSVP EVENT -->
                            <div class="col-md-4">
                                <div class="date">
                                    5<span>th</span>
                                </div><!-- /.date-->
                                <h5 class="bachelorsParty">Bachelors Party</h5>
                            </div><!-- /.col-md-4 -->

                            <!-- RSVP EVENT -->
                            <div class="col-md-4">
                                <div class="date">
                                    23<span>rd</span>
                                </div><!-- /.date-->
                                <h5 class="theGirlsParty">The Girls Party</h5>
                            </div><!-- /.col-md-4 -->

                            <!-- RSVP EVENT -->
                            <div class="col-md-4">
                                <div class="date">
                                    31<span>st</span>
                                </div><!-- /.date-->
                                <h5 class="dinnerRehearsal">Dinner Rehearsal</h5>
                            </div><!-- /.col-md-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.border -->
                </div><!-- /.col-md-4 -->

                <!-- THE MONTH -->
                <div class="col-md-4">
                    <h4 class="sectionmaintitle">June, 2014</h4>
                    <div class="border">
                        <div class="row">

                            <!-- RSVP EVENT -->
                            <div class="col-md-6">
                                <div class="date">
                                    8<span>th</span>
                                </div><!-- /.date-->
                                <h5 class="weddingRehearsal">Wedding Rehearsal</h5>
                            </div><!-- /.col-md-6 -->

                            <!-- RSVP EVENT -->
                            <div class="col-md-6">
                                <div class="date">
                                    22<span>nd</span>
                                </div><!-- /.date-->
                                <h5 class="familyDinner">Dinner In The Family</h5>
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.border -->
                </div><!-- /.col-md-4 -->

                <!-- THE MONTH -->
                <div class="col-md-4">
                    <h4 class="sectionmaintitle">July, 2014</h4>
                    <div class="border">
                        <div class="row">

                            <!-- RSVP EVENT -->
                            <div class="col-md-12">
                                <div class="date">
                                    25<span>th</span>
                                </div><!-- /.date-->
                                <h5 class="theWedding">The Weding</h5>
                            </div><!-- /.col-md-12 -->
                        </div><!-- /.row -->
                    </div><!-- /.border --><!-- /.row -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->

            <!-- THE RSVP FORM -->
            <div class="row">
                <div class="col-md-4">
                    <h4 class="sectionmaintitle">Please Use The RSVP Form</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="col-md-8">

                    <!-- the actual form begins -->
                    <form role="form" action="send_rsvp.php" method="post" id="rsvpform">

                        <!-- EVENTS ATTENDING -->
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Events Attending <span>(please click on the events above):</span></h5>
                            </div>
                            <div class="col-md-6" id="thecheckboxes"></div>
                        </div><!--/.row-->

                        <div class="row">
                            <div class="col-md-6">

                                <!-- NAME -->
                                <div class="form-group">
                                    <label for="rsvp-name" class="sr-only">Name</label>
                                    <input type="text" name="rsvp-name" placeholder="Your Name" id="rsvp-name" class="form-control">
                                </div><!-- /.form-group -->

                                <!-- EMAIL -->
                                <div class="form-group">
                                    <label for="rsvp-email" class="sr-only">Email address</label>
                                    <input type="email" name="rsvp-email" placeholder="Your Email" id="rsvp-email" class="form-control">
                                </div><!-- /.form-group -->
                            </div><!-- /.col-md-6 -->

                            <div class="col-md-6">

                                <!-- EXTRA REQUIREMENTS -->
                                <div class="form-group">
                                    <label for="rsvp-extra" class="sr-only">Extra Requirements</label>
                                    <textarea id="rsvp-extra" name="rsvp-extra" placeholder="Extra Requirements (gluten free, vegetarian etc)" rows="3" class="form-control"></textarea>
                                </div><!-- /.form-group -->
                            </div><!-- /.col-md-6 -->


                        </div><!--/.row-->

                        <div class="row">
                            <div class="col-md-12">

                                <!-- MESSAGE -->
                                <div class="form-group">
                                    <label for="rsvp-message" class="sr-only">Your Message</label>
                                    <textarea id="rsvp-message" name="rsvp-message" placeholder="Please Enter Your Message" rows="3" class="form-control"></textarea>
                                </div><!-- /.form-group -->
                            </div><!-- /.col-md-12-->
                        </div><!--/.row-->

                        <div class="row" id='cf_submit_p'>

                            <!-- SUBMIT BUTTOM -->
                            <input type="submit" value="Send Message" class="btn btn-primary btn-lg alignright" id="send_message">
                            
                        </div><!--/.row-->

                        <!-- ERROR/SUCCESS -->
                        <div id='mail_success' class='alert alert-success'>Thank you. Your RSVP has been sent.</div><!-- /. SUCCESS MESSAGE -->
                        <div id='mail_fail' class='alert alert-danger'> Sorry, don't know what happened. Try later.</div><!-- /. ERROR MESSAGE -->
                    </form>
                </div>
            </div>
        </div><!-- /.container -->

    </section><!-- rsvp -->



     <!-- =========================================================================================================
    ==============================================================================================================
                                            "Contact Us" form
    ==============================================================================================================
    ============================================================================================================== -->

    <!-- CONTACT US FORM -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Send Us a Message</h4>
                </div>
                
                <!-- the actual form begins -->
                <form id="contactus" method="post" action="send_mail.php" role="form">

                    <div class="modal-body">
                        
                        <p>Have any question of message for us? We'll always try to get back to you as soon as possible. Please use the form below and we'll receive your message in our inbox, only for us to see</p>

                        <!-- NAME -->
                        <div class="form-group">
                            <label for="contactname">Name</label>
                            <input type="text" class="form-control" id="contactname" name="contactname" placeholder="Your Name">
                        </div><!-- /.form-group -->

                        <!-- EMAIL -->
                        <div class="form-group">
                            <label for="contactemail">Email address</label>
                            <input type="email" class="form-control" id="contactemail" name="contactemail" placeholder="Your Email">
                        </div><!-- /.form-group -->

                        <!-- MESSAGE -->
                        <div class="form-group">
                            <label for="contactmessage">Your Message</label>
                            <textarea class="form-control" rows="3" placeholder="Please Enter Your Message" id="contactmessage" name="contactmessage"></textarea>
                        </div><!-- /.form-group -->
                       
                    </div><!-- /.modal-body -->
                    
                    <div class="modal-footer" id='cf_submit_m'>

                        <!-- SUBMIT BUTTON -->
                        <input type="submit" value="Send Message" id="send_contact_message" class="btn btn-primary">
                    </div><!-- /.modal-footer -->

                        <!-- SUCCESS/ERROR FIELDS -->
                    <div id='contact_success' class='alert alert-success'>Thank you. Your message has been sent.</div><!-- /. SUCCESS MESSAGE -->
                    <div id='contact_fail' class='alert alert-danger'> Sorry, don't know what happened. Try later.</div><!-- /. ERROR MESSAGE -->
                </form><!-- /.contactus -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <footer>
        <div class="container">
            <p>&copy; 2014 Tammy &amp; Michael</p>
        </div>
    </footer>
   
    <!-- INCLUDE jQUERY -->
    <script src="{{STATIC_URL}}js/vendor/jquery-1.11.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

    <!-- DETECT the device type (mobile/desktop) -->
    <script type="text/javascript" src="{{STATIC_URL}}js/vendor/device.min.js"></script>

    <!-- INCLUDE jQuery waypoints plugin -->
    <script src="{{STATIC_URL}}js/vendor/waypoints.min.js"></script>

    <!-- INCLUDE flexslider SCRIPT -->
    <script defer src="{{STATIC_URL}}js/vendor/jquery.flexslider.js"></script>

    <!-- Optional FlexSlider Additions -->
    <script src="{{STATIC_URL}}js/vendor/jquery.easing.js"></script>
    <script src="{{STATIC_URL}}js/vendor/jquery.mousewheel.js"></script>

    <!-- INCLUDE bootstrap SCRIPT -->
    <script src="{{STATIC_URL}}js/vendor/bootstrap.min.js"></script>

    <!-- INCLUDE bootstrap dropdown-on-hover plugin -->
    <script src="{{STATIC_URL}}js/vendor/bootstrap-hover-dropdown.min.js"></script>

    <!-- INCLUDE parallax plugin -->
    <script src="{{STATIC_URL}}js/vendor/jquery.parallax.min.js"></script>

    <!-- MEGAFOLIO PRO GALLERY JS FILES -->
    <script type="text/javascript" src="megafolio/{{STATIC_URL}}js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="megafolio/{{STATIC_URL}}js/jquery.themepunch.megafoliopro.js"></script>

    <!-- FANCYBOX JS FILES -->
    <script type="text/javascript" src="megafolio/fancybox/jquery.fancybox.pack.js?v=2.1.3"></script>
    <!-- Optionally add helpers - button, thumbnail and/or media ONLY FOR ADVANCED USAGE-->
    <script type="text/javascript" src="megafolio/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
    
    <!-- INCLUDE other plugins and scripts AUTHOR MADE -->
    <script src="{{STATIC_URL}}js/vendor/jquery.queryloader2.js"></script>

    <!-- INCLUDE other plugins and scripts AUTHOR MADE -->
    <script src="{{STATIC_URL}}js/plugins.js"></script>
    <script src="{{STATIC_URL}}js/main.js"></script>

    </body>
</html>