<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{wedding.headline}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimum-scale=1">

    <!-- INCLUDE BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.min.css">

    <!-- INCLUDE AUTHOR CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/responsive.css">

    <!-- INCLUDE FLEXSLIDER CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/flexslider.css" type="text/css" media="screen" />

    <!-- INCLUDE animate CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/animate.min.css">

    <!-- MEGAFOLIO PRO GALLERY CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}megafolio/{{STATIC_URL}}css/settings.css" media="screen" />

    <!-- THE FANYCYBOX CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}megafolio/fancybox/jquery.fancybox.css?v=2.1.3" type="text/css" media="screen" />

    <!-- INCLUDE GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Cinzel:400,700|Great+Vibes' rel='stylesheet' type='text/css'>        

    <!-- INCLUDE MODERNIZR -->
    <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body class="index home">
    <div class="bghide">&nbsp;</div>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- =================
                                                The Header Area With The Menu
    ================= -->  

    {% include 'themes/bliss/partials/nav.html' %}

    <!-- ========================================================================================                                                The Slider Area
    ================= -->


    {% include 'themes/bliss/partials/slider.html' %}


    {% for section in sections %}
    <div id="{{section.headline|slugify}}-container" ></div><br/><br/><br/><br/>
    {% include section.template_path %}
    {% endfor %}



    <footer>
        <div class="container">
            <p>&copy; {% now "Y" %} {{wedding.partner_one}} &amp; {{wedding.partner_two}}</p>
        </div>
    </footer>
   
    <!-- INCLUDE jQUERY -->
    <script src="{{STATIC_URL}}js/vendor/jquery-1.11.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

    <!-- DETECT the device type (mobile/desktop) -->
    <script type="text/javascript" src="{{STATIC_URL}}js/vendor/device.min.js"></script>

    <!-- INCLUDE jQuery waypoints plugin -->
    <script src="{{STATIC_URL}}js/vendor/waypoints.min.js"></script>

    <!-- INCLUDE flexslider SCRIPT -->
    <script defer src="{{STATIC_URL}}js/vendor/jquery.flexslider.js"></script>

    <!-- Optional FlexSlider Additions -->
    <script src="{{STATIC_URL}}js/vendor/jquery.easing.js"></script>
    <script src="{{STATIC_URL}}js/vendor/jquery.mousewheel.js"></script>

    <!-- INCLUDE bootstrap SCRIPT -->
    <script src="{{STATIC_URL}}js/vendor/bootstrap.min.js"></script>

    <!-- INCLUDE bootstrap dropdown-on-hover plugin -->
    <script src="{{STATIC_URL}}js/vendor/bootstrap-hover-dropdown.min.js"></script>

    <!-- INCLUDE parallax plugin -->
    <script src="{{STATIC_URL}}js/vendor/jquery.parallax.min.js"></script>

    <!-- MEGAFOLIO PRO GALLERY JS FILES -->
    <script type="text/javascript" src="megafolio/{{STATIC_URL}}js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="megafolio/{{STATIC_URL}}js/jquery.themepunch.megafoliopro.js"></script>

    <!-- FANCYBOX JS FILES -->
    <script type="text/javascript" src="megafolio/fancybox/jquery.fancybox.pack.js?v=2.1.3"></script>
    <!-- Optionally add helpers - button, thumbnail and/or media ONLY FOR ADVANCED USAGE-->
    <script type="text/javascript" src="megafolio/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
    
    <!-- INCLUDE other plugins and scripts AUTHOR MADE -->
    <script src="{{STATIC_URL}}js/vendor/jquery.queryloader2.js"></script>

    <!-- INCLUDE other plugins and scripts AUTHOR MADE -->
    <script src="{{STATIC_URL}}js/plugins.js"></script>
    <script src="{{STATIC_URL}}js/main.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8k9Csxz8IKildFjuxFAf6vcx7a4f4spo">

    </body>
</html>