<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thanks. You're awesome</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class='text-center'>Thanks for the donation!</h1>
        <center>
          <img src="{{STATIC_URL}}img/thanks/{{image}}" class="img-thumbnail" />
        </center>
        <hr/>
        <div>
          <a href="/" class="btn btn-primary btn-lg pull-right" >Back to the website</a>
        </div>
        <br/><br/>
      </div>
    </div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
  </body>
</html>