<!-- =========================================================================================================
==============================================================================================================
                                        "BRIDE'S PARTY" section
==============================================================================================================
============================================================================================================== -->

<section id="thebrideside">

    <!-- "THE BRIDE'S SIDE" HEADER -->
    <div id="thebridesidephoto" class="parallax-hook parallax-thebrideside parallax-background">
            
        <div class="section-overlay">
            <div class="container">
                <div class="row">
                    <header class="col-md-6 col-md-offset-3">
                        The Bride's Side
                        <span>Friends and family of the bride</span>
                    </header>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-overlay -->
        
    </div><!-- /#thebridesidephoto -->

    <!-- "THE BRIDE'S SIDE" ACTUAL CONTENT -->
    <div class="container">

        <!-- SECONDARY TITLE -->
        <h3 class="text-center intermediary-waypoint">These are the friends and family of the bride</h3>

        <div class="row">

            <!-- THE BRIDE'S MOM -->
            <div class="col-md-4 bridemom">
                <div>
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thebride-mom.jpg" alt="bride's mom">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                    <h5>Kim Stockowich (Mother)</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                </div><!-- /.hide -->
            </div><!-- /.col-md-4-->

            <!-- THE BRIDE -->
            <div class="col-md-4 thebride">
                <div>
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thebride.jpg" alt="the bride">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                </div><!-- /.hide -->
            </div><!-- /.col-md-4-->

            <!-- THE BRIDE'S DAD -->
            <div class="col-md-4 bridedad">
                <div> 
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thebride-dad.jpg" alt="bride's dad">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                    <h5>John Stockowich (Father)</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div><!-- /.hide -->
            </div><!-- /.col-md-4-->

        </div><!-- /.row-->

        <!-- THE BRIDE'S MAIDS -->
        <div class="row">

            <!-- BRIDE'S MAID 1 -->
            <div class="col-md-4 bridesmaid">
                <div>
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thebride-maid1.jpg" alt="bride's maid">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                    <h5>Johanna Smith (Bride's Maid)</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div><!-- /.hide -->
           </div><!-- /.col-md-4-->

           <!-- BRIDE'S MAID 2 -->
            <div class="col-md-4 bridesmaid">
                <div>
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thebride-maid2.jpg" alt="bride's maid">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                    <h5>Laura Grewich (Bride's Maid)</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div><!-- /.hide -->
            </div><!-- /.col-md-4-->

            <!-- BRIDE'S MAID 3 -->
            <div class="col-md-4 bridesmaid">
                <div>
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thebride-maid3.jpg" alt="bride's maid">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                    <h5>Anna Lipsum (Bride's Maid)</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div><!-- /.hide -->
            </div><!-- /.col-md-4-->

        </div><!-- /.row-->

    </div><!-- /.container -->
</section><!-- /.thebridesidephoto-->

<!-- =========================================================================================================
==============================================================================================================
                                        "GROOM'S PARTY" section
==============================================================================================================
============================================================================================================== -->

<section id="thegroomside">

     <!-- "THE GROOM'S SIDE" HEADER -->
    <div id="thegroomsidephoto" class="parallax-hook parallax-thegroomside parallax-background">

        <div class="section-overlay">
            <div class="container">
                <div class="row">
                    <header class="col-md-6 col-md-offset-3">
                        The Groom's Side
                        <span>Friends and family of the groom</span>
                    </header>
                </div><!-- /.row-->
            </div><!-- /.container-->
        </div><!-- /.section-overlay-->

    </div><!-- /#thegroomsidephoto -->

    <!-- "THE GROOM'S SIDE" ACTUAL CONTENT -->
    <div class="container">

        <!-- SECONDARY TITLE -->
        <h3 class="text-center intermediary-waypoint">These are the friends and family of the groom</h3>

        <div class="row">

            <!-- THE GROOM'S MOM -->
            <div class="col-md-4 groommom">
                <div> 
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thegroom-mom.jpg" alt="groom's mom">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                    <h5>Michelle Eden (Mother)</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                </div><!--- /.hide -->
            </div><!-- /.col-md-4-->

            <!-- THE GROOM -->
            <div class="col-md-4 thegroom">
                 <div>
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thegroom.jpg" alt="the groom">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                </div>
            </div><!-- /.col-md-4-->

            <!-- THE GROOM'S DAD -->
            <div class="col-md-4 groomdad">
                
                <div> 
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thegroom-dad.jpg" alt="groom's dad">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                    <h5>Paul Eden (Father)</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                </div>
            </div><!-- /.col-md-4-->

        </div><!-- /.row-->


        <!-- THE GROOM'S MEN -->
        <div class="row">

            <!-- THE GROOM'S MAN 1 -->
            <div class="col-md-4 groomsmaid">
                <div> 
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thegroom-man1.jpg" alt="groom man">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                    <h5>George Smith (Best Man)</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div><!-- /.hide -->
            </div><!-- /.col-md-4-->

            <!-- THE GROOM'S MAN 2 -->
            <div class="col-md-4 groomsmaid">
                <div>
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thegroom-man2.jpg" alt="groom man">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                    <h5>Alex Ross (Best Man)</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div><!-- /.hide -->
            </div><!-- /.col-md-4-->

            <!-- THE GROOM'S MAN 3 -->
            <div class="col-md-4 groomsmaid">
                <div>
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/thegroom-man3.jpg" alt="groom man">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                    <h5>Brian Cox (Best Man)</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div><!-- /.hide -->
            </div><!-- /.col-md-4-->

        </div><!-- /.row-->
    </div><!-- /.container -->
</section><!-- /.thegroomsidephoto-->