<!-- CONTACT US FORM -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Send Us a Message</h4>
            </div>
            
            <!-- the actual form begins -->
            <form id="contactus" method="post" action="send_mail.php" role="form">

                <div class="modal-body">
                    
                    <p>Have any question of message for us? We'll always try to get back to you as soon as possible. Please use the form below and we'll receive your message in our inbox, only for us to see</p>

                    <!-- NAME -->
                    <div class="form-group">
                        <label for="contactname">Name</label>
                        <input type="text" class="form-control" id="contactname" name="contactname" placeholder="Your Name">
                    </div><!-- /.form-group -->

                    <!-- EMAIL -->
                    <div class="form-group">
                        <label for="contactemail">Email address</label>
                        <input type="email" class="form-control" id="contactemail" name="contactemail" placeholder="Your Email">
                    </div><!-- /.form-group -->

                    <!-- MESSAGE -->
                    <div class="form-group">
                        <label for="contactmessage">Your Message</label>
                        <textarea class="form-control" rows="3" placeholder="Please Enter Your Message" id="contactmessage" name="contactmessage"></textarea>
                    </div><!-- /.form-group -->
                   
                </div><!-- /.modal-body -->
                
                <div class="modal-footer" id='cf_submit_m'>

                    <!-- SUBMIT BUTTON -->
                    <input type="submit" value="Send Message" id="send_contact_message" class="btn btn-primary">
                </div><!-- /.modal-footer -->

                    <!-- SUCCESS/ERROR FIELDS -->
                <div id='contact_success' class='alert alert-success'>Thank you. Your message has been sent.</div><!-- /. SUCCESS MESSAGE -->
                <div id='contact_fail' class='alert alert-danger'> Sorry, don't know what happened. Try later.</div><!-- /. ERROR MESSAGE -->
            </form><!-- /.contactus -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->