<!-- =========================================================================================================
==============================================================================================================
                                    "EVENTS CALENDAR / RSVP" section
==============================================================================================================
============================================================================================================== -->

<div id="events"></div>
<section id="rsvp">

<!-- "RSVP" SECTION MAIN TITLE -->
<div id="rsvpphoto" class="parallax-hook parallax-rsvp parallax-background">
    <div class="section-overlay">
        <div class="container">
            <div class="row">
                <header class="col-md-6 col-md-offset-3">
                    {{section.headline}}
                    <span>{{section.tagline}}</span>
                </header>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.section-overlay -->
    
</div><!-- /#rsvpphoto -->

<!-- "RSVP" SECTION actual content -->
<div class="container">
    
    <!-- "RSVP" INTERMEDIARY TITLE AND CONTENT -->
    <h3 class="text-center">Here Are The Most Important Events. Please RSVP Below!</h3>

    

    <!-- "RSVP" EVENTS -->
    <div class="row calendar">
        <h4 class="text-center">Please click on the events where you want to participate.</h4>
        <div class="col-md-12">

            <!-- THE MONTH -->
            
            <div class="border">

                <div class="row">
                    <h4 class="sectionmaintitle">September, 2015</h4>

                    <!-- RSVP EVENT -->
                    {% for event in events %}
                    <div class="col-md-2">
                        <div class="date">
                            {{event.start_datetime|date:"d"}}<span>th</span>
                        </div><!-- /.date-->
                        <h5 class="{{event.pk}}" >{{event.title}}</h5>
                    </div><!-- /.col-md-4 -->
                    {% endfor %}

                </div><!-- /.row -->
            </div><!-- /.border -->
        </div><!-- /.col-md-4 -->

        

    <!-- THE RSVP FORM -->
    <div class="row">
        <div class="col-md-4">
            <h4 class="sectionmaintitle">RSVP</h4>
            <p>
                Please indicate whether you are planning to attend the wedding (important!) and interested in attending any of the other activities we are planning either side of the big day. This is by no means binding, but will give us a sense of how many people would be keen to attend and so that we can customize our responses/arrangements to only those who’ve shown interest. We’ll finalise these arrangements closer to the time.
            </p>
        </div>
        <div class="col-md-8">

            <!-- the actual form begins -->
            <form role="form" action="/api/v1/guests/guests/rsvp/" method="post" id="rsvpform">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <h5>
                            Are you coming to the wedding?                            
                        </h5>                        
                        <div >
                            <label>
                                <input type="radio" value="yes" name="wedding-rsvp" id="wedding-rsvp" />
                                Yes
                            </label>
                            <label>
                                <input type="radio" value="no" name="wedding-rsvp" id="wedding-rsvp" />
                                No
                            </label>
                        </div>                        
                    </div>
                </div>
                <!--/.row-->

                <!-- EVENTS ATTENDING -->
                <div class="row">
                    <div class="col-md-6">
                        <h5>Events Attending <span>(please click on the events above):</span></h5>
                    </div>
                    <div class="col-md-6" id="thecheckboxes"></div>
                </div><!--/.row-->

                <div class="row">
                    <div class="col-md-6">

                        <!-- NAME -->
                        <div class="form-group">
                            <label for="rsvp-name" class="sr-only">Name</label>
                            <input type="text" name="rsvp-name" placeholder="Your Name" id="rsvp-name" class="form-control">
                        </div><!-- /.form-group -->

                        <!-- EMAIL -->
                        <div class="form-group">
                            <label for="rsvp-email" class="sr-only">Email address</label>
                            <input type="email" name="rsvp-email" placeholder="Your Email" id="rsvp-email" class="form-control">
                        </div><!-- /.form-group -->
                    </div><!-- /.col-md-6 -->

                    <div class="col-md-6">

                        <!-- EXTRA REQUIREMENTS -->
                        <div class="form-group">
                            <label for="rsvp-extra" class="sr-only">Extra Requirements</label>
                            <textarea id="rsvp-extra" name="rsvp-extra" placeholder="Extra Requirements (gluten free, vegetarian etc)" rows="3" class="form-control"></textarea>
                        </div><!-- /.form-group -->
                    </div><!-- /.col-md-6 -->


                </div><!--/.row-->

                <div class="row" id='cf_submit_p'>

                    <!-- SUBMIT BUTTOM -->
                    <input type="submit" value="Send Message" class="btn btn-primary btn-lg alignright" id="send_message">
                    
                </div><!--/.row-->

                <!-- ERROR/SUCCESS -->
                <div id='mail_success' class='alert alert-success'>Thank you. Your RSVP has been sent.</div><!-- /. SUCCESS MESSAGE -->
                <div id='mail_fail' class='alert alert-danger'> Sorry, don't know what happened. Try later.</div><!-- /. ERROR MESSAGE -->
            </form>
        </div>
    </div>
</div><!-- /.container -->

</section><!-- rsvp -->