{% load thumbnail %}
<section id="gallery">

    <!-- "GALLERY 1" SECTION TITLE -->
    <div id="gallery1photo" class="parallax-hook parallax-gallery1 parallax-background">
        <div class="section-overlay">
            <div class="container">
                <div class="row">
                    <header class="col-md-6 col-md-offset-3">
                        {{section.headline}}
                        <span>{{section.tagline}}</span>
                    </header>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-overlay -->
        
    </div><!-- /#gallery1photo -->

    <!-- "GALLERY 1" ACTUAL CONTENT -->
    <div class="container">

        <!-- MEGAFOLIO FILTER LIST -->
        <ul class="filter-list">
            <li class="filter" data-category="cat-all">All</li>
            {% for gallery in galleries %}
            <li class="filter" data-category="cat-{{gallery.slug}}">{{gallery.title}}</li>
            {% endfor %}            
        </ul><!-- /.filter-list -->
        <div class="clearfix"></div>

        {% for gallery in galleries %}
        <!-- MEGAFOLIO CONTAINER -->
        <div class="gallery-container">
            <div class="megafolio-container">
                
                <!-- GALLERY PHOTO -->
                {% for photo in gallery.picture_set.all %}

                {% thumbnail photo.image "600x450" as resized_image %}
                <div class="mega-entry cat-all cat-{{gallery.slug}}" 
                    id="g1-entry-1" 
                    data-src="{{resized_image.url}}" data-width="600" data-height="450">
                    
                    <!-- THE CONTAINER FOR THE HOVER EFFECT -->
                    <div class="mega-hover">
                     
                       <!-- TITLE AND SUBTITILE INSIDE THE HOVER EFFECT -->
                        <div class="mega-hovertitle">
                            {{photo.caption}}
                            <div class="mega-hoversubtitle"></div>
                        </div>
                     
                        <!-- THE LINK BUTTON -->
                        <a href="#"><div class="mega-hoverlink"></div></a>
                     
                        <!-- THE VIEW MORE BUTTON -->
                        <a class="fancybox" href="{{photo.image.url}}">
                            <div class="mega-hoverview"></div>
                        </a>
                     
                    </div> <!-- // END OF THE HOVER EFFECT MARKUP -->

                </div><!-- .mega-entry-->
                {% endthumbnail %}
                {% endfor %}
                
            </div><!-- /.megafolio-container--> 
        </div><!-- /.gallery-container-->
        {% endfor %}

    </div><!-- /.container -->

</section><!-- gallery1 -->