<!-- =========================================================================================================
==============================================================================================================
                                    The First Area Under The Slider
==============================================================================================================
============================================================================================================== -->


<section id="home">
    <div class="container">
        
        <div class="row">

            <!-- THE TITLE -->
            <div class="col-md-12">
                <h2>Are Getting Married</h2>
            </div><!-- /.col-md-12-->
            
            <!-- SMALL INTRODUCTORY TEXT -->
            <div class="col-md-12">
                <p>Welcome to the wedding website of Tammy Leitner and Michael Jansen. We’re so happy to share with you all there is to know about our happyness: how we meet, the proposal, the wedding location and the events calendar that will follow. Follow on to read about the story of our love!</p>
            </div><!-- /.col-md-12-->

            <!-- READMORE BUTTON -->
            <div class="col-md-12">
                <a href="#ourstory" class="btn btn-primary btn-lg">Start Reading</a>
            </div><!-- /.rows-->
        </div><!-- /.col-md-12-->
      
    </div> <!-- /container --> 
</section><!-- /# home -->