<div id="logistics"></div>
<section id="weddinglocation">

    <!-- "THE WEDDING LOCATION" HEADER -->
    <div id="weddinglocationphoto" class="parallax-hook parallax-weddinglocation parallax-background">
        
        <div class="section-overlay">
            <div class="container">
                <div class="row">
                    <header class="col-md-6 col-md-offset-3">
                        {{section.headline}}
                        <span>{{section.tagline}}</span>
                    </header>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-overlay -->
        
    </div><!-- /#weddinglocationphoto -->

    <!-- "THE WEDDING LOCATION" ACTUAL CONTENT -->
    <div class="container" >
        {# todo: make this a template tag #}
        {% if ceremony_venue %}
        {% with ceremony_venue as venue %}
        {% include 'themes/bliss/partials/venue.html' %}
        {% endwith %}
        {% endif %}

        {% if reception_venue %}
        {% with reception_venue as venue %}
        {% include 'themes/bliss/partials/venue.html' %}
        {% endwith %}
        {% endif %}
    </div>

    {% if accommodations %}
    <!-- THE AVAILABLE HOTELS -->
    <div class="hotels">
        <div class="container">

            <div class="row">

                <!-- HOTELS SMALL CONTENT -->
                <div class="col-md-3 col-sm-3">
                    <h3 class="sectionmaintitle">Recommended Accomodation</h3>
                    <p>There's plenty of good places to stay in the area. Here are some places that we recommend.</p>
                </div><!-- /.col-md-3-->

                <!-- ACCOMM -->
                {% for accommodation in accommodations %}
                <div class="col-md-3 col-sm-3">
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/hotel1.jpg" alt="{{accommodation.title}}">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                    <div class="alignright">
                        <h5>{{accommodation.title}}</h5>
                        <p>{{accommodation.address}}</p>
                        <a href="{{accommodation.website}}" class="readmore">Website</a>
                    </div><!-- /.alignright -->
                </div><!-- /.col-md-3-->
                {% endfor %}

            </div><!-- /.row -->
        </div><!-- /.container-->
    </div><!-- /.hotels -->
    {% endif %}


    {% if attractions %}
    <!-- THE LOCAL ATTRACTIONS -->
     <div class="container attractions">
         <div class="row">

            <!-- ATTRACTIONS SMALL CONTENT -->
            <div class="col-md-3 col-sm-3">
                <h3 class="sectionmaintitle">Things to do</h3>
                <p>Here's some things you might want to check out while you're in the area</p>
            </div><!-- /.col-md-3-->


            {% for attraction in attractions %}
            <!-- ATTRACTION -->
            <div class="col-md-3 col-sm-3">
                <div class="round-frame-bg">
                    <div class="round-frame">
                        <img src="{{STATIC_URL}}img/attraction1.jpg" alt="{{attraction.title}}">
                    </div><!-- /.round-frame -->
                </div><!-- /.round-frame-bg -->
                <div class="alignright">
                    <h5>{{attraction.title}}</h5>
                    <p>{{attraction.address}}
                    <a href="{{attraction.website}}" class="readmore">Website</a>
                </div><!-- /.alignright -->
            </div><!-- /.col-md-3-->
            {% endfor %}

        </div><!-- /.row -->
        {% endif %}
    </div><!-- /.container -->
</section><!-- weddinglocation -->
