<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="names"> Tammy &#38; Michael</div><!-- /.names -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="navbar-collapse collapse">

            <!-- THE LEFT SIDE MENU -->
            <ul class="nav navbar-nav left-nav">
                <li class="active"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Home <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li><a href="#thetop">Home</a></li>
                        
                    </ul><!-- /.dropdown-menu -->
                </li>
                {% comment %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">The Wedding <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li><a href="#ourstory">Our Story</a></li>
                        <li class="divider"></li>
                        <li><a href="#thebrideside">Bride's Party</a></li>
                        <li class="divider"></li>
                        <li><a href="#thegroomside">Groom's Party</a></li>
                        <li class="divider"></li>
                        <li><a href="#weddinglocation">Wedding Location</a></li>
                        
                    </ul><!-- /.dropdown-menu -->
                </li>
                

                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li><a href="#blog1">Blog Style 1</a></li>
                        <li class="divider"></li>
                        <li><a href="#blog2">Blog Style 2</a></li>

                    </ul><!-- /.dropdown-menu -->
                </li>
                {% endcomment %}

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Gallery <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li><a href="#gallery1">Gallery Style 1</a></li>
                        <li class="divider"></li>
                        <li><a href="#gallery2">Gallery Style 2</a></li>
                        
                    </ul><!-- /.dropdown-menu -->
                </li>
            </ul>

            <!-- THE WEDDING DATE -->
             <a class="navbar-brand" href="#">25 July, 2014</a>

             <!-- THE RIGHT SIDE MENU -->
            <ul class="nav navbar-nav right-nav">
                <li><a href="#registry">Registry</a></li>
                {# <li><a href="#guestbook">Guest Book</a></li> #}
                <li><a href="#rsvp">Events / RSVP</a></li>
                {# <li><a href="#" data-toggle="modal" data-target="#myModal">Contact</a></li> #}
            </ul><!-- /.navbar-nav -->

        </nav><!--/.navbar-collapse -->

    </div><!-- /.container-->
</header>
