<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="names"> {{wedding.partner_one}} &#38; {{wedding.partner_two}}</div>
            <!-- /.names -->
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="navbar-collapse collapse">

            <!-- THE RIGHT SIDE MENU -->
            <ul class="nav navbar-nav right-nav">
                {% for section in right_sections %}
                <li><a href="#{{section.slug}}">{{section.headline}}</a></li>
                {% endfor %}                
            </ul><!-- /.navbar-nav -->

            <!-- THE WEDDING DATE -->
            <a class="navbar-brand" href="#">{{wedding_date|date:"d M, Y"}}</a>

            <!-- THE LEFT SIDE MENU -->
            <ul class="nav navbar-nav left-nav">
                {% for section in left_sections %}
                <li><a href="#{{section.slug}}">{{section.headline}}</a></li>
                {% endfor %}                
            </ul>
            

        </nav><!--/.navbar-collapse -->

    </div><!-- /.container-->
</header>
