<section id="registry">

    <!-- "REGISTRY" SECTON TITLE -->
    <div id="registryphoto" class="parallax-hook parallax-registry parallax-background ">
        <div class="section-overlay">
            <div class="container">
                <div class="row">
                    <header class="col-md-6 col-md-offset-3 header">
                        {{section.headline}}
                        <span>{{section.tagline}}</span>
                    </header>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-overlay -->
        
    </div><!-- /#registryphoto -->

    <div class="registry ">
        <div class="container">

            <!-- INTERMEDIARY TITLE -->
            <h3 class="sectionmaintitle">We are registered at these stores:</h3>

            <div class="row">

                <!-- REGISTRY ITEM -->
                <div class="col-md-4 col-sm-4">
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/store1.jpg" alt="store 1">
                        </div><!-- /.round-frame -->
                    </div>
                    <div class="alignright">
                        <h5>Wind Drifting Store</h5>
                        <p>Because we love sports, sea and nature</p>
                        <a class="readmore" href="#">Website</a>
                    </div><!-- /.alignright -->
                    <div class="clearfix"></div>
                </div><!-- /.col-md-4-->

                <!-- REGISTRY ITEM -->
                <div class="col-md-4 col-sm-4">
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/store1.jpg" alt="store 2">
                        </div><!-- /.round-frame -->
                    </div>
                    <div class="alignright">
                        <h5>Wind Drifting Store</h5>
                        <p>Because we love sports, sea and nature</p>
                        <a class="readmore" href="#">Website</a>
                    </div><!-- /.alignright -->
                    <div class="clearfix"></div>
                </div><!-- /.col-md-4-->

                <!-- REGISTRY ITEM -->
                <div class="col-md-4 col-sm-4">
                    <div class="round-frame-bg">
                        <div class="round-frame">
                            <img src="{{STATIC_URL}}img/store1.jpg" alt="store 3">
                        </div><!-- /.round-frame -->
                    </div>
                    <div class="alignright">
                        <h5>Wind Drifting Store</h5>
                        <p>Because we love sports, sea and nature</p>
                        <a class="readmore" href="#">Website</a>
                    </div><!-- /.alignright -->
                    <div class="clearfix"></div>
                </div><!-- /.col-md-4-->
            </div><!-- /.row -->
        </div><!-- /.container-->
    </div>

    <!-- GIFT/MONEY DONATIONS -->
    <div class="donation">
        <div class="container">
            
            <a class="sectionmaintitle"></a>
            <div class="row">

                <!-- GIFT/MONEY CONTENT -->
                <div class="col-md-4">
                    <h3 class="sectionmaintitle">Gift Money / Donations</h3>
                    <p>Sometimes you just want to give some money and we make it easy for you. All the money given will be donated to our favorite charities. Please use the form in the right to send your donation</p>
                </div><!-- /.col-md-4-->

                <!-- GIFT/MONEY ITEM -->
                <div class="col-md-2 col-sm-2">
                    <span><sup>$</sup>15</span>
                    <a class="readmore" href="#">Donate</a>
                </div><!-- /.col-md-2-->

                <!-- GIFT/MONEY ITEM -->
                <div class="col-md-2 col-sm-2">
                    <span><sup>$</sup>30</span>
                    <a class="readmore" href="#">Donate</a>
                </div><!-- /.col-md-2-->

                <!-- GIFT/MONEY ITEM -->
                <div class="col-md-2 col-sm-2">
                    <span><sup>$</sup>75</span>
                    <a class="readmore" href="#">Donate</a>
                </div><!-- /.col-md-2-->

                <!-- GIFT/MONEY ITEM -->
                <div class="col-md-2 col-sm-2">
                    <span><sup>$</sup>150</span>
                    <a class="readmore" href="#">Donate</a>
                </div><!-- /.col-md-2-->
            </div><!-- /.row -->
        </div><!-- /.container-->
    </div>

</section><!-- registry -->