<section id="registry">

    <!-- "REGISTRY" SECTON TITLE -->
    <div id="registryphoto" class="parallax-hook parallax-registry parallax-background ">
        <div class="section-overlay">
            <div class="container">
                <div class="row">
                    <header class="col-md-6 col-md-offset-3 header">
                        {{section.headline}}
                        <span>{{section.tagline}}</span>
                    </header>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-overlay -->
        
    </div><!-- /#registryphoto -->

    
    <!-- GIFT/MONEY DONATIONS -->
    <div >
        <div class="container">
            
            <a class="sectionmaintitle"></a>
            <div class="row donation">

                <!-- GIFT/MONEY CONTENT -->
                <div class="col-md-4">
                    <h3 class="sectionmaintitle">Gift Money / Donations</h3>
                    <p>If you were thinking of giving a gift, to help us on our way. A gift of cash towards our house or honeymoon, would really make our day. However, if you prefer to purchase a gift, gift registry information will be provided in your formal invitation.</p>
                </div><!-- /.col-md-4-->

                <!-- GIFT/MONEY ITEM -->
                <div class="col-md-2 col-sm-2">
                    <span><sup>R</sup>200</span>
                    <a 
                        href="https://www.payfast.co.za/eng/process?cmd=_paynow&receiver=tammy.michael2015%40gmail.com&item_name=200&amount=200.00&return_url=http%3A%2F%2Ftammyandmichael.us%2Fthanks&cancel_url=http%3A%2F%2Ftammyandmichael.us%2Fcancelled"
                        class="readmore" >Gift</a>

                    {# <img src="http://www.payfast.co.za/images/buttons/paynow_basic.gif" width="95" height="26" alt="Pay" title="Pay Now with PayFast" /> #}
                </div><!-- /.col-md-2-->

                <!-- GIFT/MONEY ITEM -->
                <div class="col-md-2 col-sm-2">
                    <span><sup>R</sup>350</span>
                    <a 
                        href="https://www.payfast.co.za/eng/process?cmd=_paynow&receiver=tammy.michael2015%40gmail.com&item_name=350&amount=350.00&return_url=http%3A%2F%2Ftammyandmichael.us%2Fthanks&cancel_url=http%3A%2F%2Ftammyandmichael.us%2Fcancelled"
                        class="readmore" >Gift</a>

                </div><!-- /.col-md-2-->

                <!-- GIFT/MONEY ITEM -->
                <div class="col-md-2 col-sm-2">
                    <span><sup>R</sup>500</span>
                    <a 
                        href="https://www.payfast.co.za/eng/process?cmd=_paynow&receiver=tammy.michael2015%40gmail.com&item_name=500&amount=500.00&return_url=http%3A%2F%2Ftammyandmichael.us%2Fthanks&cancel_url=http%3A%2F%2Ftammyandmichael.us%2Fcancelled"
                        class="readmore" >Gift</a>
                </div><!-- /.col-md-2-->

                <!-- GIFT/MONEY ITEM -->
                <div class="col-md-2 col-sm-2">
                    <span><sup>R</sup>750</span>
                    <a 
                        href="https://www.payfast.co.za/eng/process?cmd=_paynow&receiver=tammy.michael2015%40gmail.com&item_name=750&amount=750.00&return_url=http%3A%2F%2Ftammyandmichael.us%2Fthanks&cancel_url=http%3A%2F%2Ftammyandmichael.us%2Fcancelled"
                        class="readmore" >Gift</a>
                </div><!-- /.col-md-2-->
                
            </div><!-- /.row -->

            <div class="row">
                
                <!-- GIFT/MONEY ITEM -->                
                <div class="col-md-8 col-md-offset-4 col-sm-12">
                    <hr/>
                    <h3>Or specify your own amount:</h3>
                    <form class="form-inline" >
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="input-group">
                                  <span class="input-group-addon " id="currency-addon">R</span>
                                  <input id="registry-custom-amount" class="form-control" placeholder="1 000 000" aria-describedby="currency-addon">
                                  <span class="input-group-addon">.00</span>                      
                                </div>
                            </div>
                            <button type="button" class="btn btn-default own-amount-btn readmore" style="margin-top:0px;background-color: #F07677;color:#fff;" >Gift it</button>                            
                        </div>
                        
                    </form>
                </div>
            </div><!-- /.row -->

        </div><!-- /.container-->
    </div>

</section><!-- registry -->