<!-- =========================================================================================================
==============================================================================================================
                                                The Slider Area
==============================================================================================================
============================================================================================================== -->



<div class="jumbotron" id="thetop">

    <section class="slider">
        
        <div class="flexslider" id="slider1">

            <!-- THE ACTUAL PHOTO SLIDES -->
            <ul class="slides">
                <li><img src="{{STATIC_URL}}img/slider/photo3.jpg" alt="photo 3" /></li>
                <li><img src="{{STATIC_URL}}img/slider/photo1.jpg" alt="photo 1" /></li>
                <li><img src="{{STATIC_URL}}img/slider/photo2.jpg" alt="photo 2" /></li>
                {% comment %}
                <li><img src="{{STATIC_URL}}img/slider/photo4.jpg" alt="photo 4" /></li>
                {% endcomment %}
            </ul><!-- /.slides -->

        </div><!-- /.flexslider -->

        <!-- THE NAMES OF THE BRIDE AND GROOM -->
        <div class="names hide">
            <div class="container">
                {{wedding.partner_one}} <span><i>&#38;</i></span> {{wedding.partner_two}}
            </div><!-- /.container -->
        </div><!-- /.names -->

    </section><!-- /.slider-->

</div><!-- /.jumbotron -->

