<!-- =========================================================================================================
==============================================================================================================
                                        "OUR STORY" section
==============================================================================================================
============================================================================================================== -->

<section id="ourstory">
    
    <!-- "OUR STORY" HEADER -->
    <div id="ourstoryphoto" class="parallax-hook parallax-ourstory parallax-background">
        
            <div class="section-overlay">
                <div class="container">
                    <div class="row">
                        <header class="col-md-6 col-md-offset-3">
                            Our Love Story
                            <span>The Good Times We Had Together</span>
                        </header>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-overlay -->
        
    </div><!-- /#outstoryphoto -->


    <!-- "OUR STORY" ACTUAL CONTENT -->
    <div class="container">

        <!-- SECONDARY TITLE -->
        <h3 class="text-center intermediary-waypoint">Tammy Stockowich & Michael Eden</h3>

        <!-- SECTION SMALL CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <p>Our love story begun on a Friday night, late one spring. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
             </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

        
        <div class="row couple-photos">

            <!-- THE BRIDE -->
            <div class="col-md-6 col-xs-6 bride">
                <div class="round-frame-bg alignright">
                    <div class="round-frame">
                        <img src="{{STATIC_URL}}img/thebride.jpg" alt="the bride">
                    </div><!-- /.round-frame -->
                </div><!-- /.round-frame-bg alignright hide -->
            </div><!-- /.ccol-md-6 col-xs-6 bride-->

            <!-- THE GROOM -->
            <div class="col-md-6 col-xs-6 groom">
                <div class="round-frame-bg alignleft">
                    <div class="round-frame">
                        <img src="{{STATIC_URL}}img/thegroom.jpg" alt="the groom">
                    </div><!-- /.round-frame -->
                </div><!-- /.round-frame-bg -->
            </div><!-- /.col-md-6 col-xs-6 groom -->

            <!-- LITTLE HEART GRAPHIC -->
            <img src="{{STATIC_URL}}img/hearts.png" class="hearts" alt="love">

        </div><!-- /.couple-photos -->

        <div class="thetimeline">

            <!-- THE LINE THAT FORMS THE TIMELINE -->
            <div class="line">&nbsp;</div>

            <div class="theyear">

                <!-- THE YEAR -->
                <div class="year">2010</div>

                <!--
                ///////////
                FIRST POST 
                ///////////
                -->
                <div class="post odd">

                    <!-- ACTUAL POST CONTENT -->
                    <div class="post-content">
                        <div class="post-box">

                            <header>
                                <div class="date">December<span>30</span></div>
                                <h2>The Day We Meet</h2>
                            </header>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                            <a href="#" class="readmore">Read More</a>

                            <div class="clear">&nbsp;</div>
                        </div><!-- /.POST-BOX -->
                    </div><!-- /.post-content-->

                    <!-- POST EXCERPT-->
                    <div class="excerpt">
                        <div class="excerpt-content quote">
                            <span>&#8220;</span>The Beginning Is Always Fun and Games
                        </div><!-- /.excerpt-content-->
                    </div><!-- /.excerpt -->
                </div><!-- /.post -->

                <!--
                ///////////
                SECOND POST 
                ///////////
                -->
                <div class="post even">

                    <!-- ACTUAL POST CONTENT -->
                    <div class="post-content">
                        <div class="post-box">

                            <header>
                                <div class="date">May<span>30</span></div>
                                <h2>Our First Kiss</h2>
                            </header>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                            <a href="#" class="readmore">Read More</a>

                            <div class="clear">&nbsp;</div>

                        </div><!-- /.POST-BOX -->
                    </div><!-- /.post-content-->
                    
                </div><!-- /.post -->


                <!--
                ///////////
                THIRD POST 
                ///////////
                -->
                <div class="post odd">

                    <!-- ACTUAL POST CONTENT -->
                    <div class="post-content">
                        <div class="post-box">

                            <header>
                                <div class="date">May<span>30</span></div>
                                <h2>Our First Vacation</h2>
                            </header>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                            <a href="#" class="readmore">Read More</a>

                            <div class="clear">&nbsp;</div>

                        </div><!-- /.POST-BOX -->
                    </div><!-- /.post-content-->

                    <!-- POST EXCERPT - A GALLERY -->
                    <div class="excerpt">
                        <div class="excerpt-content gallery">
                            <h4>Photos From Our First Vacation</h4>
                            <a href="{{STATIC_URL}}img/bloggallery1/img-1.jpg" class="fancybox" rel="group" title="Swinging Chairs In The Sunset">
                                <img src="{{STATIC_URL}}img/bloggallery1/thumbnails/img-1-thumb.jpg" alt="a sunset">
                            </a>
                            <a href="{{STATIC_URL}}img/bloggallery1/img-2.jpg" class="fancybox" rel="group" title="A little Cottage We Found">
                                <img src="{{STATIC_URL}}img/bloggallery1/thumbnails/img-2-thumb.jpg" alt="a little cottage">
                            </a>
                            <a href="{{STATIC_URL}}img/bloggallery1/img-3.jpg" class="fancybox" rel="group" title="Seaside is So Relaxing!">
                                <img src="{{STATIC_URL}}img/bloggallery1/thumbnails/img-3-thumb.jpg" alt="seaside">
                            </a>
                            <a href="{{STATIC_URL}}img/bloggallery1/img-4.jpg" class="fancybox" rel="group" title="Our Old Car">
                                <img src="{{STATIC_URL}}img/bloggallery1/thumbnails/img-4-thumb.jpg" alt="our old car">
                            </a>
                        </div><!-- /.excerpt-content-->
                    </div><!-- /.excerpt -->
                    
                </div><!-- /.post -->
            </div><!-- /.theyear-->


            <!-- THE SECOND YEAR -->
            <div class="theyear">
                <div class="year">2011</div>

                <!--
                ///////////
                FIRST POST 
                ///////////
                -->
                <div class="post even">

                    <!-- ACTUAL POST CONTENT -->
                    <div class="post-content">
                        <div class="post-box">

                            <header>
                                <div class="date">May<span>30</span></div>
                                <h2>Moving In Together</h2>
                            </header>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                            <a href="#" class="readmore">Read More</a>

                            <div class="clear">&nbsp;</div>

                        </div><!-- /.POST-BOX -->
                    </div><!-- /.post-content-->

                    <!-- POST EXCERPT -->
                    <div class="excerpt">
                        <div class="excerpt-content quote"><span>&#8220;</span>But The Best Part Of Our Lifes Is Just Starting...</div><!-- /.excerpt-content-->
                    </div><!-- /.excerpt -->

                </div><!-- /.post -->

                <!--
                ///////////
                SECOND POST 
                ///////////
                -->
                <div class="post odd">

                    <!-- ACTUAL POST CONTENT -->
                    <div class="post-content">
                        <div class="post-box">

                            <header>
                                <div class="date">May<span>30</span></div>
                                <h2>The Marriage Proposal</h2>
                            </header>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                            <a href="#" class="readmore">Read More</a>

                            <div class="clear">&nbsp;</div>
                        </div><!-- /.POST-BOX -->
                    </div><!-- /.post-content-->
                    
                </div><!-- /.post -->
            </div><!-- /.theyear -->

            <!-- "TO BE CONTINUED" BUTTON -->
            <div class="theyear">
                <div class="year">To Be Continued...</div>
            </div>
        </div><!-- /.timeline-->
      
    </div> <!-- /container --> 
</section><!-- /# ourstory -->
