<!-- =========================================================================================================
==============================================================================================================
                                    The First Area Under The Slider
==============================================================================================================
============================================================================================================== -->


<section id="home">
    <div class="container">
        
        <div class="row">

            <!-- THE TITLE -->
            <div class="col-md-12">
                <h2>{{wedding.headline}}</h2>
            </div><!-- /.col-md-12-->
            
            <!-- SMALL INTRODUCTORY TEXT -->
            <div class="col-md-12">
                <p>{{wedding.intro}}</p>
            </div><!-- /.col-md-12-->

            {% comment %}
            <!-- READMORE BUTTON -->
            <div class="col-md-12">
                <a href="#ourstory" class="btn btn-primary btn-lg">Start Reading</a>
            </div><!-- /.rows-->
            {% endcomment %}
        </div><!-- /.col-md-12-->
      
    </div> <!-- /container --> 
</section><!-- /# home -->